@import url('https://fonts.googleapis.com/css?family=Exo&display=swap');
body{
	margin: 0;
	padding: 0;
	font-family: 'Exo', sans-serif;
	background: #202020 url(../img/body-bg.png);
}

a{
	text-decoration: none;
}

.container{
	width: 960px;
	height: 100%;
	margin: 0 auto;
}

header{
	padding-top: 45px;
}

header nav ul{
	display: flex;
	list-style: none;
	margin: 22px 0 0 0;
	padding: 0;
	line-height: 48px;
	position: relative;
}

header nav ul:after,
header nav ul:before{
	content: '';
	height: 2px;
	width: 100%;
	background: url(../img/nav-shaddow.png);
	position: absolute;
}

header nav ul:before{
	top: 0;
}

header nav ul:after{
	bottom: 0;
}

header nav ul li{
	font-size: 14px;
	font-weight: bold;
	padding: 0 15px;
	transition: background-color .3s linear;
	position: relative;
}

header nav ul li.active{
	background-color: #eb6504;
}

header nav ul .active:before{
	content: '';
	height: 1px;
	width: 100%;
	background-color: #fbae43;
	position: absolute;
	top: 0;
	left: 0;
}

header nav ul li:hover{
	background-color: #eb6504;
}

header nav ul li:hover:before{
	content: '';
	height: 1px;
	width: 100%;
	background-color: #fbae43;
	position: absolute;
	top: 0;
	left: 0;
}

header nav ul li a{
	color: #fff;
}