header{
	position: relative;
	background: url(../img/header-image.png) center no-repeat;
	height: 800px;
	background-size: cover;
	background-attachment: fixed;
}

.hide{
	display: none;
	opacity: 0;
}

.show{
	display: show;
	opacity: 1;
	transition: opacity .3s;
}

.border{
	border-top: 1px solid #a2a2a2;
}

.stats{
	position: relative;
	background-color: transparent;
	display: block;
	height: 320px;
}

.stats:before{
	content: '';
	height: 7px;
	width: 100%;
	position: absolute;
	top: 0;
	background-color: #303030;
}

.stats .column{
	width: 320px;
	height: 320px;
	position: relative;
	float: left;
}

.stats .column:before,
.stats .column:after{
	content: '';
	height: 100%;
	width: 2px;
	position: absolute;
	top: 0;
	background: url(../img/vertical-bar.png);
	border: none;
}

.stats .column:before{
	left: -1px;
}

.stats .column:after{
	right: 0;
}

.stats .column h3{
	display: flex;
	justify-content: center;
	font-size: 24px;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 0;
}

.stats .column i{
	display: flex;
	justify-content: center;
	font-size: 12px;
	color: #fff;
	margin: 7px 0 35px 0;
}

.stats .column img{
	position: absolute;
	bottom: 0;
	transition: .3s;
}

.stats .column:nth-child(2) img{
	left: 23.5px;
}

.stats .column:hover img{
	transform: translateY(-5px);
}

.ipad-img{
	position: relative;
	padding-top: 118px;
	height: 420px;
	box-sizing: border-box;
	border-bottom: 30px solid #e96302;
	color: #a2a2a2;
	background: #0e0e0e url('../img/radial-shadow.png') center no-repeat;
}

.ipad-img .container{
	position: relative;
	z-index: 99;
}

.ipad-img h3{
	position: relative;
	padding-left: 48px;
	width: 272px;
	background: url(../img/plus-sign.png) left top no-repeat;
	transform-origin: left;
	transition: opacity .3s,
				left .3s;
}

.ipad-img p{
	position: relative;
	font-size: 14px;
	width: 272px;
	margin: 30px 0 70px 48px;
	transition: opacity .3s,
				left .3s;
}

.ipad-img img{
	position: absolute;
	bottom: -11px;
	left: 250px;
	z-index: -1;
}

.latest-products{
	position: relative;
}

.latest-products h3{
	margin: 30px 0 0 0;
	padding-left: 48px;
	background: url(../img/plus-sign.png) no-repeat;
	font-size: 20px;
	color: #a2a2a2;
	text-transform: uppercase;
	background-position-y: -5px;
	height: 36px;
}

.latest-products .view-more{
	font-size: 12px;
	text-transform: uppercase;
	display: flex;
	width: 100%;
	justify-content: flex-end;
}

.latest-products .view-more a{
	color: #e96302;
	margin-bottom: 15px;
}

.latest-products .catalog{
	display: flex;
	width: 960px;
	position: relative;
}

.latest-products .catalog .items{
	display: flex;
	padding: 0;
	width: 960px;
	position: relative;
	overflow: hidden;
}

.latest-products .catalog .items ul{
	display: flex;
	padding: 0;
	position: relative;
}

.latest-products .catalog .items .item{
	padding: 0 15px 0 16px;
	height: 202px;
	width: 269px;
	background: rgba(0, 0, 0, 0.2);
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	margin: 0 10px;
	cursor: pointer;
	overflow: hidden;
}

.latest-products .catalog .items .item img{
	position: relative;
	z-index: -1;
}

.latest-products .catalog .items .item span{
	position: absolute;
	top: 0;
	left: 0;
	background-color: #e96302;
	color: #fff;
	font-weight: bold;
	padding: 0 18px;
}

.latest-products .catalog .prev-next-btns{
	position: absolute;
	top: 70px;
	cursor: pointer;
	transition: .3s;
}

.latest-products .catalog .prev-next-btns:nth-child(1){
	left: -70px;
}

.latest-products .catalog .prev-next-btns:nth-child(3){
	right: -70px;
}

.column-layout{
	position: relative;
	height: 254px;
	margin-top: 30px;
}

.column-layout h3{
	margin: 45px 0 0 0;
	padding-left: 70px;
	background: url(../img/plus-sign.png) no-repeat;
	font-size: 20px;
	color: #a2a2a2;
	text-transform: uppercase;
	background-position-y: -5px;
	height: 36px;
}

.column-layout .paragraphs{
	display: flex;
	margin-top: 35px;
}

.column-layout .paragraph{
	line-height: 26px;
	width: 300px;
	margin-left: 20px;
	color: #aaa;
	font-size: 14px;
}

.column-layout .paragraph .read-more-btn{
	margin-top: 30px;
	background-color: rgb(233, 99, 2);
	color: #fff;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	padding: 5px 10px;
	border-radius: 5px;
	box-shadow: 0 0 10px #161616;
}

.deliver-quality{
	position: relative;
	height: 254px;
	margin-top: 60px;
}

.deliver-quality h3{
	margin: 45px 0 0 0;
	padding-left: 70px;
	background: url(../img/plus-sign.png) no-repeat;
	font-size: 20px;
	color: #a2a2a2;
	text-transform: uppercase;
	background-position-y: -5px;
	height: 36px;
}

.deliver-quality .four-paragraphs{
	display: grid;
	grid-template-columns: 50% 50%;
	color: #fff;
	font-size: 16px;
	margin: 0 0 35px 20px;
}

.deliver-quality .four-paragraphs p:nth-child(1),
.deliver-quality .four-paragraphs p:nth-child(2){
	color: #a2a2a2;
}

.tab-section{
	position: relative;
	margin-top: 120px;
}

.tab-content{
	width: 100%;
	height: 450px;
	background-color: #1a1a1a;
	color: #a2a2a2;
	position: relative;
	box-sizing: border-box;
}

.tb1 img{
	position: absolute;
	bottom: 50px;
	left: 40px;
}

.tb1 .right{
	float: right;
	width: 300px;
	margin: 90px 170px 0 0;
	font-weight: normal;
}

.tb1 h3{
	width: 300px;
	margin: 0 0 36px -68px;
	padding-left: 68px;
	background: url(../img/plus-sign.png) no-repeat;
	font-size: 20px;
	color: #a2a2a2;
	background-position-y: -5px;
	height: 36px;
}

.tb1 p{
	font-size: 14px;
	margin-bottom: 40px;
}

.tb1 a{
	color: #fff;
	background-color: #e96302;
	font-weight: bold;
	padding: 10px 25px;
	border-radius: 4px;
}

.tb2{
	padding: 15px;
	position: relative;
}

.tb2 h3{
	margin: 0 0 36px 0;
	padding-left: 60px;
	background: url(../img/plus-sign.png) no-repeat;
	font-size: 20px;
	color: #a2a2a2;
	display: flex;
	align-items: center;
	height: 36px;
}

.tb2 p{
	font-size: 14px;
	margin: 0 0 10px 0;
}

.tb2 a{
	padding-left: 30px;
	background-image: url(../img/download.png);
	background-repeat: no-repeat;
	color: #e96302;
}

.tab-section ul{
	list-style: none;
	font-weight: normal;
	display: flex;
	color: #fff;
	padding: 0;
	margin: 5px 0;
}

.tab-section ul li{
	width: 315px;
	margin-right: 5px;
	background-color: #101010;
	background-image: url(../img/plus-transparent.png);
	background-repeat: no-repeat;
	background-position: 20px 50%;
}

.tab-section ul li:last-child {
	width: 320px;
	margin: 0;
}

.tab-section ul li div{
	margin-left: 70px;
	padding-top: 18px;
}

.tab-section ul li div a{
	font-size: 18px;
	color: #fff;
}

.tab-section ul li div p{
	margin: 5px 0 20px 0;
	color: #fff;
}

.tab-section ul .active{
	background-color: #e96302;
	transition: .3s;
}